# Basics
-e git+https://github.com/circuits/circuits.git#egg=circuits
#pygame==1.9.1release
screeninfo==0.3

# Video & CV
#cv2 >= 2.4.9

# Audio
-e git+https://github.com/belangeo/pyo.git#egg=pyo

# Compat
six
